* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
html, body {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: sans-serif;
	background-color: #eee;
}

.page-header {
	z-index: 1;
	position: fixed;
	top: 0;
	height: 38px;
	width: 100%;
	background: #9DD53A;
}

.page-header h1 {
	font-size: 20px;
	position: absolute;
	left: 50%;
	font-weight: bold;
	text-shadow: #212121 0px 1px 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 7px 0 0 -95px;
	height: 45px;
	width: 190px;
	overflow: hidden;
	color: white;
	font-family: 'Yanone Kaffeesatz', arial, serif;
}

.shadow {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.page-header, page-footer {
	-webkit-transition: all .1s ease-in;
}

.page-footer {
	line-height: 43px;
}

.page-footer {
	z-index: 1;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
/*	width: 100%;*/
	height: 43px;
/*	border-top: 1px solid #333;*/
/*	border-bottom: 1px solid black;*/
	background: blue;
}
/* DOLNA NAWIGACJA - FOOTER */
.page-footer a{
	color:#fff;
	display:block;
	float:left;
	width:50%;
	text-align:center;
	margin:0;
	padding:0;
}
* {
/*	-webkit-user-select: none;*/
}

#map-wrapper, #buses-wrapper, #about {
	width: 100%;
	bottom: 43px;
	top: 38px;
	position: absolute;
}

.scroll-frame {
	position: absolute;
	top: 38px;
	overflow-y: scroll;
	bottom: 45px;
	width: 100%;
}

/*textarea#insert,textarea#insert_pl{
	clear:both;
	width:60%;
	height:100px;
	margin:40px 0 0 0;
}*/
/*****************************************/

/* ************************************ */
.content-wrapper{
	padding:0;
	margin:40px 0;
}
/*.page-wrapper{
	display:none;
}*/
.fLeft{
	float:left;
}
.fRight{
	float:right;
}
.fCenter{
	margin:0 auto;
}
#pol-sentence{
	margin-top:40px;
	border:1px solid red;
}
ul.ml-list{
	list-style: none;
	margin:0;
	padding:0;
}
ul.ml-list li{
	height:35px;
	background: #eee;
	display: block;
	margin:2px 0 0 2px;
}

#package-list li{
	
}
#package-list li a,#unit-list li a{
	margin-left:8px;
}
.insert-page-wrapper{
	text-align:center;
}
.insert-page-wrapper button,.insert-page-wrapper select{
	margin:20px auto 0 auto;
}
/************* INPUTS ***************/
.fijs-select{
	width:200px;
	padding:8px;
	line-height:24px;
}
textarea.insert-unit{
	margin:10px auto 0 auto;
	height:60px;
	width:80%
}
/************* BUTTONS ***************/
button.fijs-button{
	width:180px;
	height:40px;
	border:1px solid #aaa;
	border-radius:5px;
}
a.fijs-touched{
	background-color: red;
}
button.fijs-touched{
	background: red;
}
a.fijs-menu-active{
	background-color: green;
}

/***************** ICONS ************/
.icon24{
	height:24px;
	width:24px;
	display:inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
	height:100%;
}
.icon-set{
	background-image: url("../img/copy_24.png");
}
.icon-add{
	background-image: url("../img/plus_24.png");
}

.clear-both{
	clear:both;
	display:block;
}
#addit-button{
	display:none;
}