.ml-header{
	height: 35px;
	
}
.ml-header h1{
	text-align: center;
	display: block;
	margin: .6em 30% .8em;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
	font-size:15px;
}